.DS_Store
*.pyc
venv
.venv/
errors/
db.*
!db.json
__pycache__
.cache
**/settings/local.py
*.log
.env
.envrc
.idea
.swp
.python-version
.node-version
staticfiles
tools/scenario_viewer/index.html
engine/reports/
reports_zeta/
cache_local*
node_modules
.mypy_cache/
.pytest_cache/
.vscode/
*checkpoint.ipynb
.pytest_cache
htmlcov
reports/
coverage.xml
docker-compose.override.yml
docker-compose.local.yml
/testdata/
/src/
Pipfile
Pipfile.lock
tmp/
.direnv/
